@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<link href="~/css/login.css" rel="stylesheet" />

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h3>Create a new account.</h3>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
           
            <div class="col-md-8  banner-sec">
                <section>
                   
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) != 0)
                        {
                       
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div class="row">
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        if (provider.Name == "Facebook")
                                        {
                                            <p class="col-md-6">
                                                <button type="submit"
                                                        class="shadow btn btn-block btn-facebook text-white"
                                                        style="background-color:#4064AC;border-color:#4064AC;"
                                                        name="provider"
                                                        value="@provider.Name"
                                                        title="Log in using your @provider.DisplayName account">
                                                    <div class="row d-flex justify-content-md-start">
                                                        <div class=" col-3 pl-0">
                                                            <img src="~/img/faceboo-logo.png" width="20" style="height:25px;width:25px" />
                                                        </div>
                                                        <div class="col-7">@provider.Name</div>
                                                    </div>
                                                </button>
                                            </p>
                                        }

                                        else if (provider.Name == "Google")
                                        {
                                            <p class="col-md-6">
                                                <button type="submit"
                                                        class="shadow btn btn-block btn-google"
                                                        style="background-color:#fff;border-color:#fff;text-decoration-color:dimgrey"
                                                        name="provider"
                                                        value="@provider.Name"
                                                        title="Log in using your @provider.DisplayName account">
                                                    <div class="row d-flex justify-content-md-start">
                                                        <div class=" col-3">
                                                            <img src="~/img/google-logo.png" width="20" style="height:25px;width:25px" />
                                                        </div>
                                                        <div class="col-7">@provider.Name</div>
                                                    </div>
                                                </button>
                                            </p>
                                        }
                                    }
                                </div>
                            </form>
                        }
                    }
                </section>

                <partial name="_PartialCarousel" />
            </div>
            </div>
        </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
