@using EasyTravel.Common
@model EasyTravel.Web.ViewModels.AllProperties.SinglePropertyViewModel
@{
    this.ViewData["Title"] = "Property";
}

<link href="~/css/button.css" rel="stylesheet" />


<h1 class="display-4">@this.Model.Name</h1>
<ul class="nav nav-primary nav-tabs d-flex flex-column flex-md-row text-center">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">
            <i class="fas fa-home"></i>  @this.Model.CategoryName
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">
            <i class="fas fa-compass"></i> @this.Model.CityName
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#profile">
            <i class="fas fa-umbrella-beach"></i> Summer Price @this.Model.PriceSummerr
        </a>
    </li>


    <li>
        <button type="button" class="btn btn-outline-primary btn-icon" data-vote="1"><i class="fas fa-heart"></i></button>
        <button type="button" class="btn btn-outline-primary btn-icon" data-vote="2"><i class="fas fa-heart"></i></button>
        <button type="button" class="btn btn-outline-primary btn-icon" data-vote="3"><i class="fas fa-heart"></i></button>
        <button type="button" class="btn btn-outline-primary btn-icon" data-vote="4"><i class="fas fa-heart"></i></button>
        <button type="button" class="btn btn-outline-primary btn-icon" data-vote="5"><i class="fas fa-heart"></i></button>
        <span id="averageVoteValue">@Model.AverageRaiting.ToString("0.0")</span><span> / 5</span>

    </li>
</ul>

<div class="row">
    <div class="col-md-8">
        <div class="component">
            <div class="card">
                <div class="card-header">
                    <img class="card-img img-fluid" src="@this.Model.MainImageUrl" alt="img">
                    <hr />
                    <!-- Gallery -->
                    <div class="row">
                        @foreach (var img in this.Model.Images.Take(6))
                        {
                            @if (img.RemoteImageUrl != null)
                            {
                                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 img-fluid">
                                    <img src="@img.RemoteImageUrl"
                                         class="w-100 shadow-1-strong rounded mb-4"
                                         alt="img" />

                                </div>

                            }

                        }
                    </div>
                    <!-- Gallery -->

                </div>
                <div class="card-body">
                    <ul class="nav nav-primary nav-tabs d-flex flex-column flex-md-row text-center">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home">
                                <i class="fas fa-user-friends"></i> @this.Model.Capacity
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#profile">
                                <i class="fas fa-map-marked"></i>@this.Model.Address
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="fas fa-phone"></i> @this.Model.PhoneNumber
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#profile">
                                <i class="far fa-snowflake"></i> Winter Price @this.Model.PriceWinter
                            </a>
                        </li>

                    </ul>

                    <h4 class="card-title mt-2">@this.Model.Name</h4>
                    <p class="card-text">@this.Model.Description</p>
                </div>



            </div>
        </div>
    </div>


    <div class="col-md-4">

        <div class="card p-2">
            <div class="d-flex p-1 px-4 align-items-center">
                <span class="square"><i class="fas fa-suitcase"></i></span>
                <span><i class="fas fa-plane"></i></span>
            </div>
            <div class="email mt-1">
                <span><a asp-controller="Bookings" asp-action="CreateBooking" asp-route-id="@this.Model.Id">Book Now</a></span>
                <div class="dummytext mt-1"> <span>Make your reservation with 1 step</span> </div>
            </div>
            <div class="d-flex flex row align-items-center mr-2 mt-2">
                <div class="icons"> <i class="fa fa-check-circle"></i> <span>Pick dates for check-in and check out</span> </div>
                <div class="icons"> <i class="fa fa-check-circle"></i> <span>Tell us how many people are coming with you</span> </div>
                <div class="icons"> <i class="fa fa-check-circle"></i> <span>Give a phone number</span> </div>

            </div>
        </div>

        <br />
        <div class="card p-2">
            <div class="d-flex p-1 px-4 align-items-center"> <span class="square3"><img src="https://i.imgur.com/eSSe3Js.png" height="20" width="20" /></span> </div>
            <div class="email mt-1">
                <span>See the original article</span>
                <div class="dummytext mt-1"> <span>Информацията за всички обяви е взета от Pochivka.bg</span> </div>
            </div>
            <div class="d-flex flex row align-items-center mr-2 mt-2">
                <div class="icons"> <i class="fa fa-check-circle"></i> <span>Приложението е направено с учебни цели</span> </div>
                <div class="icons">
                    <i class="fa fa-check-circle"></i> <span>
                        <a href="@this.Model.OriginalUrl">Original url</a>
                    </span>
                </div>

            </div>
        </div>


        <br />
        <hr />

        <div class="heading mt-2"> <span>Amenities</span></div>
        <div class="card p-2">
        
            <div class="d-flex flex row align-items-center mr-2 mt-2">
                @foreach (var am in this.Model.Amenities)
                {

                    <div class="icons4"> <i class="fa fa-check-circle"></i> <span>@am.AmenityName</span> </div>

                }


            </div>
        </div>
    </div>

</div>


<form method="post" id="antiForgeryForm"></form>
@section Scripts {
    <script>
        $("button[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var propertyId = @Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { propertyId: propertyId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/Raitings",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageRaiting.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}

