@using EasyTravel.Common
@model EasyTravel.Web.ViewModels.AllProperties.SinglePropertyViewModel
@{
    this.ViewData["Title"] = "Property";
}


<h1 class="display-4">@this.Model.Name</h1>
<ul class="nav nav-success nav-tabs d-flex flex-column flex-md-row text-center">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">
            <i class="fas fa-home"></i>  @this.Model.CategoryName
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">
            <i class="fas fa-compass"></i> @this.Model.CityName
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile">
            <i class="fas fa-umbrella-beach"></i> Summer Price @this.Model.PriceSummerr
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile">
            <i class="far fa-snowflake"></i> Winter Price @this.Model.PriceWinter
        </a>
    </li>

</ul>

<div class="row">
    <div class="col-md-8">
        <div class="component">
            <div class="card">
                <div class="card-header">
                    <img class="card-img " src="@this.Model.MainImageUrl" alt="img">
                    <hr />
                    <!-- Gallery -->
                    <div class="row">
                        @foreach (var img in this.Model.Images.Take(6))
                        {
                            @if(img.RemoteImageUrl != null)
                {
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            <img src="@img.RemoteImageUrl"
                                 class="w-100 shadow-1-strong rounded mb-4"
                                 alt="img" />

                        </div>

                }

                        }
                    </div>
                    <!-- Gallery -->

                </div>
                <div class="card-body">
                    <ul class="nav nav-success nav-tabs d-flex flex-column flex-md-row text-center">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home">
                                <i class="fas fa-user-friends"></i> @this.Model.Capacity
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile">
                                <i class="fas fa-map-marked"></i>@this.Model.Address
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">
                                <i class="fas fa-phone"></i> @this.Model.PhoneNumber
                            </a>
                        </li>

                    </ul>

                    <h4 class="card-title mt-2">@this.Model.Name</h4>
                    <p class="card-text">@this.Model.Description</p>
                </div>



            </div>
        </div>
    </div>

</div>

<div class="row col-md-4">

    <ul class="list-group list-group-flush">
    @foreach (var am in this.Model.Amenities)
    {

        <li class="list-group-item">@am.AmenityName</li>
       
    }
    </ul>
</div>

<a href="@this.Model.OriginalUrl" class="btn btn-primary" role="button">Original Url</a>